<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/add-project.css">
    <title>Add Project</title>
    <style>
        .thin{
            color: white;
        }
        body{
            background: linear-gradient(to top left, #00FF17,#0032FF);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-toggleable" style="background-color: #1C2833;">
    <div id="icon-bar" class="navbar-nav row">
        <a style="margin-left: 0; padding-left: 0;" class="navbar-brand" href="{{@BASE}}"><img style="width: 50px;" src="./images/code.svg"> <span id="brand-head">Project Portal</span></a>
    </div>

    <div class="" id="myContent">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active thin" href="" style="letter-spacing: 1px;">Sign out</a>
        </div>
    </div>
</nav><!-- nav bar -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!--<form action="../model/validation.php" method="post">-->
    <div class="modal-dialog" role="document">
        <div style="background-color: #EAECEE;" class="modal-content rounded-0">
            <div style="background-color: #1C2833;" class="modal-header rounded-0">
                <h5 class="modal-title" id="exampleModalLabel">Add Url</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img id="exit-cred" class="float-right cancel" name="cancel" src="./images/error.svg" alt="cancel">
                </button>
            </div>
            <div class="modal-body">
                <form id="login-form" action="" method="post">
                    <div class="text-center"><span id="login-error" class="text-danger"></span></div>
                    <div id="add-login" class="row">
                        <div class="col-md-6">
                            <span id="username-error" class="text-danger"></span>
                            <input id="username" type="text" name="username" class="form-control-sm" placeholder="Username:">
                        </div>

                        <div class="col-md-6">
                            <span id="password-error" class="text-danger"></span>
                            <input id="password" type="text" name="password" class="form-control-sm" placeholder="Password:">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="add-btn" type="button" name="add" class="btn btn-outline-success rounded-0">Add</button>
            </div>
        </div>
    </div>
</div> <!--Modal end-->

<div id="overlay">
    <div id="success-msg" class="text-white text-center"><h1 style="font-weight: 200; margin-top: 250px;">Your project has been added successfully</h1></div>
    <div id="load" class="text-white"></div>
</div>

<div class="container">
    <div class="new-form">
        <form action="../model/validation.php" method="post">
            <fieldset>
                <div class="row">
                    <div class="col-6">
                        <legend>Project Information</legend>
                    </div>
                    <div class="col-6">
                        <a href="{{@BASE}}"><img class="float-right cancel" name="cancel" src="./images/error.svg" alt="cancel"></a>
                    </div>
                </div>
                <hr style="margin-top: 2px;">
                <div class="form-group row">
                    <div class="col-md-6">
                        <span id="title-error" class="text-danger"></span>
                        <input id="title" type="text" name="pTitle" class="" placeholder="Project Title:">
                    </div>

                    <label class="col-md-2 col-form-label text-md-right">Project Status:</label>
                    <div class="col-md-4">
                        <span id="status-error" class="text-danger"></span>
                        <select id="status" style="font-weight: 100;" name="status" class="form-control">
                            <option value="none">--Select--</option>
                            <option value="Pending">Pending</option>
                            <option value="Active">Active</option>
                            <option value="Maintenance">Maintenance</option>
                            <option value="Retired">Retired</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <span id="description-error" class="text-danger"></span>
                        <textarea id="description" name="description" style="font-weight: 100;" rows="2" placeholder="Description:"></textarea>
                    </div>
                    <div class="col-md-6">
                        <span id="note-error" class="text-danger"></span>
                        <textarea id="note" name="note" style="font-weight: 100;" rows="2" placeholder="Note:"></textarea>
                    </div>
                    <!--<div class="col-md-2 text-md-right"><a class="link" id="add-url" href="" data-toggle="modal" data-target="#myModal">Add Url</a></div>-->
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <span id="project-link-error" class="text-danger"></span>
                        <input id="project-link" type="text" name="url" class="" placeholder="Project link:">
                    </div>
                    <div class="col-md-4">
                        <span id="torelo-link-error" class="text-danger"></span>
                        <input id="torelo-link" type="text" name="trello" class="" placeholder="Torelo link:">
                    </div>
                    <div class="col-md-4">
                        <span id="github-link-error" class="text-danger"></span>
                        <input id="github-link" type="text" name="github" class="" placeholder="Github link:">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-md-right">
                        <span id="added-cred" class="text-muted"></span><span class="text-danger" id="rm-cred"></span>
                        <a class="link" id="add-cred" href="" data-toggle="modal" data-target="#myModal">Add Login Credentials</a>
                    </div>
                </div>
            </fieldset> <!--project info end-->

            <fieldset>
                <legend>Class Information</legend>
                <!--<span id="classname_0-error" class="text-danger"></span>-->
                <hr style="margin-top: 2px;">
                <div class="form-group row">
                    <div class="col-md-4">
                        <span id="classname_1-error" class="text-danger"></span>
                        <input id="classname_1" type="text" name="className[]" placeholder="Class name:">
                    </div>
                    <div class="col-md-4">
                        <span id="quarter_1-error" class="text-danger"></span>
                        <input id="quarter_1" type="text" name="quarter[]" placeholder="Quarter: example spring 2017">
                    </div>
                    <div class="col-md-4">
                        <span id="instructor_1-error" class="text-danger"></span>
                        <input id="instructor_1" type="text" name="instructor[]" placeholder="Instructor:">
                    </div>
                </div>

                <div id="class-info"></div>
                <div class="row">
                    <div class="col-md-6 offset-md-6 text-md-right">
                        <button type="button" class="btn btn-sm btn-outline-success rounded-0" id="add-class">Add Class</button>
                        <button type="button" class="btn btn-sm btn-outline-danger rounded-0" id="remove-class">Remove Class</button>
                    </div>
                </div>
            </fieldset> <!--class info end-->

            <fieldset>
                <legend>Company Information</legend>
                <hr style="margin-top: 2px;">
                <div class="form-group row">
                    <div class="col-md-6">
                        <span id="company-error" class="text-danger"></span>
                        <input id="company" type="text" name="cName" placeholder="Company name:">
                    </div>

                    <div class="col-md-6">
                        <span id="location-error" class="text-danger"></span>
                        <input id="location" type="text" name="cLocation" placeholder="Location:">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <span id="site-url-error" class="text-danger"></span>
                        <input id="site-url" type="text" name="cSite" placeholder="Site url:">
                    </div>
                </div>
            </fieldset> <!--company info end-->

            <fieldset>
                <legend>Contact Information</legend>
                <hr style="margin-top: 2px;">
                <div class="form-group row">
                    <div class="col-md-6">
                        <span id="clientname_1-error" class="text-danger"></span>
                        <input id="clientname_1" type="text" name="contactName[]" placeholder="Name:">
                    </div>

                    <div class="col-md-6">
                        <span id="clienttitle_1-error" class="text-danger"></span>
                        <input id="clienttitle_1" type="text" name="title[]" placeholder="Title:">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <span id="phone_1-error" class="text-danger"></span>
                        <input id="phone_1" type="text" name="phone[]" placeholder="Phone:">
                    </div>

                    <div class="col-md-6">
                        <span id="email_1-error" class="text-danger"></span>
                        <input id="email_1" type="text" name="email[]" placeholder="Email:">
                    </div>
                </div>

                <div id="contact-info"></div> <!--div for adding additional contacts-->

                <div class="row">
                    <div class="col-md-6">
                        <!--<span id="added-contact" class="text-muted"></span><span class="text-danger" id="rm-contact"></span>-->
                        <!--<a href="" class="link" id="add-conct" data-toggle="modal" data-target="#myModal">Add contact</a>-->
                        <button id="add-conct" type="button" class="btn btn-sm btn-outline-success rounded-0">Add Contact</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button id="remove-contact" type="button" style="background-color: transparent; border: 0; outline: none;" class="btn btn-sm rounded-0 text-danger">Remove Contact</button>
                    </div>
                </div>
            </fieldset> <!--contact info end-->

            <div class="form-group row">
                <div class="col-md-2 offset-md-10">
                    <button name="submit" id="submit" type="submit" style="margin-top: 25px; border-radius: 25px; font-weight: 300; font-size: 20px; color: white; width: 100%; background-color: #A600FF; " class="btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="./scripts/add-project.js"></script>
<script>

</script>
</html>