<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{@BASE}}/styles/style.css">
    <title>Project Portal</title>

    <style>
        body{
            background: linear-gradient(to top left, #FF00A6,#6100FF);
            height: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-toggleable" style="background-color: #1C2833;">
    <div id="icon-bar" class="navbar-nav row">
        <a style="margin-left: 0; padding-left: 0;" class="navbar-brand" href="{{@BASE}}"><img style="width: 50px;" src="{{@BASE}}/images/code.svg"> <span id="brand-head">Project Portal</span></a>
    </div>

    <div class="navbar-nav search-width">
        <input type="text" id="search" placeholder="Search"><span><img id="search-icon" src="{{@BASE}}/images/search.svg"></span>
    </div>

    <div class="" id="myContent">
        <div class="navbar-nav ml-auto">
            <check if="{{isset(@login)}}">
                <a class="nav-item nav-link active thin" href="{{@BASE}}/addProject"><img id="add-icon" src="{{@BASE}}/images/add.svg"> <span>Add new project</span></a>
            </check>
            <check if="{{!isset(@login)}}">
                <a class="nav-item nav-link active thin" href="{{@BASE}}/signIn"><span>Sign In</span></a>
            </check>
        </div>
    </div>
</nav><!-- nav bar -->

<div style="padding: 20px;" class="container">
    <repeat group="{{ @projects }}" value="{{ @project }}">
        <div class="list">
            <div class="row">
                <div class="col">
                    <p class="h3">{{ @project[pTitle] }}</p>
                    <hr>
                    <p>
                        {{ @project[description] }}
                    </p>

                    <div class="row">
                        <div class="col-6">
                            <a href="<check if="{{ @project[github] }}">//{{ @project[github] }}</check>" target="_blank">Github,</a>
                            <a href="<check if="{{ @project[trello] }}">//{{ @project[trello] }}</check>" target="_blank">Torello,</a>
                            <a href="<check if="{{ @project[url] }}">//{{ @project[url] }}</check>" target="_blank">Project Url</a>
                        </div>

                        <div class="col-6 text-right">
                            <!-- change this line to add the link on the button --Mingjie
                            <button class="btn btn-outline-primary rounded-0">View</button>-->
                            <a class="btn btn-outline-primary rounded-0" href="project/{{ @project['pid'] }}" role="button">View</a>
                            <!--<a class="float-right" href="">View</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </repeat>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="./scripts/project-list.js"></script>
<script>
    // $("#search-icon").click(function(){
    //     if($("#search").is(":visible"))
    //     {
    //
    //     }
    // });
</script>
</html>