<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="{{@BASE}}/styles/styles.css">
    <link rel="stylesheet" href="{{@BASE}}/styles/add-project.css">
    <link rel="stylesheet" href="{{@BASE}}/styles/summary-styles.css">

    <title>Project Summary</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-toggleable" style="background-color: #1C2833;">
    <div id="icon-bar" class="navbar-nav row">
        <a style="margin-left: 0; padding-left: 0;" class="navbar-brand" href="{{@BASE}}"><img style="width: 50px;" src="{{@BASE}}/images/code.svg"> <span id="brand-head">Project Portal</span></a>
    </div>

    <div id="myContent">
        <div class="navbar-nav ml-auto">
            <check if="{{isset(@login)}}"><a class="nav-item nav-link active thin" href="{{@BASE}}?signout=yes" style="letter-spacing: 1px;">Sign out</a></check>
        </div>
    </div>
</nav><!-- nav bar -->

<div id="overlay">
    <div style="margin-top: 250px; font-weight: 200;" id="updated" class="h2 text-center text-white"></div>
</div>

<div class="container">
<form id="updateProject" action="" method="post">
    <div class="new-form read-form" id="read_project-info">
        <div class="row">
            <div class="col-6">
                <legend>Project Information</legend>
            </div>
            <div class="col-6 text-right">
                <check if="{{isset(@login)}}"><button id="project-info" type="button" class="btn btn-sm btn-outline-info rounded-0 edit" name="edit">Edit</button></check>
            </div>
        </div>
        <hr style="margin-top: 2px;">
        <div class="row form-group">
            <div class="col-md-3">
                <p><span class="text-muted">Project Title:</span> {{ @project['pTitle'] }}</p>
            </div>
            <div class="col-md-3">
                <p><span class="text-muted">Project Status:</span> {{ @project['status'] }}</p>
            </div>
        </div>
        <div class="row form-group">
            <div style="padding-top: 8px;" class="col-md-6 alert alert-success">
                <p><strong>Description:</strong> {{ @project['description'] }}</p>
            </div>
            <div style="padding-top: 8px;" class="col-md-5 offset-md-1 alert alert-info">
                <p><strong>Note:</strong> {{ @project['note'] }}</p>
            </div>
        </div>
        <div style="margin-top: 25px;" class="form-group row">
            <div class="col-md-4">
                <p class="text-success"><span class="text-muted">Project Link:</span> <a href="<check if="{{ @project[url] }}">//{{ @project[url] }}</check>" target="_blank">{{ @project['url'] }}</a></p>
            </div>
            <div class="col-md-4">
                <p class="text-success"><span class="text-muted">Torelo Link:</span> <a href="<check if="{{ @project[trello] }}">//{{ @project[trello] }}</check>" target="_blank">{{ @project['trello'] }}</a></p>
            </div>
            <div class="col-md-4">
                <p class="text-success"><span class="text-muted">Github Link:</span> <a href="<check if="{{ @project[github] }}">//{{ @project[github] }}</check>" target="_blank">{{ @project['github'] }}</a></p>
            </div>
        </div>

        <check if="{{isset(@login) && !empty(@project[username])}}">
            <div class="row">
                <div class="col-12 text-right">
                    <span class="text-muted">User Name:</span> {{@project[username]}}
                    <span class="text-muted">Password:</span> {{@project[password]}}
                </div>
            </div>
        </check>
    </div> <!--project info read only-->

    <div id="edit_project-info" class="new-form edit-form">
        <fieldset>
            <div class="row">
                <div class="col-md-5">
                    <legend>Project Information</legend>
                </div>
                <div id="updateProject-error" class="col-md-7 text-danger"></div>
            </div>
            <hr style="margin-top: 2px;">
            <div class="form-group row">
                <div class="col-md-6">
                    <span id="title-error" class="text-danger"></span>
                    <input id="title" type="text" name="pTitle" class="" placeholder="Project Title:" value="{{ @project['pTitle'] }}">
                </div>

                <label class="col-md-2 col-form-label text-md-right">Project Status:</label>
                <div class="col-md-4">
                    <span id="status-error" class="text-danger"></span>
                    <select id="status" style="font-weight: 100;" name="status" class="form-control">
                        <repeat group="{{@status}}" value="{{@option}}">
                            <option <check if="{{@option == @project['status']}}">selected</check>>
                                {{@option}}
                            </option>
                        </repeat>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <span id="description-error" class="text-danger"></span>
                    <textarea id="description" name="description" style="font-weight: 100;" rows="2" placeholder="Description:">{{ @project['description'] }}</textarea>
                </div>
                <div class="col-md-6">
                    <span id="note-error" class="text-danger"></span>
                    <textarea id="note" name="note" style="font-weight: 100;" rows="2" placeholder="Note:">{{ @project['note'] }}</textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <span id="project-link-error" class="text-danger"></span>
                    <input id="project-link" type="text" name="url" class="" placeholder="Project link:" value="{{ @project[url] }}">
                </div>
                <div class="col-md-4">
                    <span id="torelo-link-error" class="text-danger"></span>
                    <input id="torelo-link" type="text" name="trello" class="" placeholder="Torelo link:" value="{{ @project[trello] }}">
                </div>
                <div class="col-md-4">
                    <span id="github-link-error" class="text-danger"></span>
                    <input id="github-link" type="text" name="github" class="" placeholder="Github link:" value="{{ @project[github] }}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-md-right">
                    <button type="button" class="btn btn-outline-danger rounded-0 cancel-update">Cancel</button>
                    <button id="updateProject_btn" type="button" class="btn btn-outline-success rounded-0 update">Update</button>
                </div>
            </div>
        </fieldset> <!--project info editable-->
    </div>
</form>

    <div class="new-form read-form" id="read_class-info">
        <div class="row">
            <div class="col-6">
                <legend>Class Information</legend>
            </div>
            <div class="col-6 text-right">
                <check if="{{isset(@login)}}"><button id="class-info" type="button" class="btn btn-sm btn-outline-info rounded-0 edit" name="edit">Edit</button></check>
            </div>
        </div>
        <hr style="margin-top: 2px;">
        <repeat group="{{ @classes }}" value="{{ @class }}">
        <div class="row form-group">
            <div class="col-md-3">
                <p><span class="text-muted">Class:</span> {{ @class['className'] }}</p>
            </div>
            <div class="col-md-3">
                <p><span class="text-muted">Quarter:</span> {{ @class['quarter'] }}</p>
            </div>
            <div class="col-md-3">
                <p><span class="text-muted">Instructor:</span> {{ @class['instructor'] }}</p>
            </div>
        </div>
        </repeat>
    </div> <!--class info read only-->

<form id="updateClass" action="" method="post">
    <div id="edit_class-info" class="new-form edit-form">
        <fieldset>
            <div class="row">
                <div class="col-md-5">
                    <legend>Class Information</legend>
                </div>
                <div class="col-md-7">
                    <div id="updateClass-error" class="col-md-7 text-danger"></div>
                </div>
            </div>
            <hr style="margin-top: 2px;">
            <repeat group="{{ @classes }}" value="{{ @class }}">
                <div class="form-group row">
                    <div class="col-md-4">
                        <span id="classname_1-error" class="text-danger"></span>
                        <input id="classname_1" type="text" name="className[]" placeholder="Class name:" value="{{ @class['className'] }}">
                    </div>
                    <div class="col-md-4">
                        <span id="quarter_1-error" class="text-danger"></span>
                        <input id="quarter_1" type="text" name="quarter[]" placeholder="Quarter: example Spring 2018" value="{{ @class['quarter'] }}">
                    </div>
                    <div class="col-md-4">
                        <span id="instructor_1-error" class="text-danger"></span>
                        <input id="instructor_1" type="text" name="instructor[]" placeholder="Instructor:" value="{{ @class['instructor'] }}">
                    </div>
                </div>
                <hr style="margin-top: 2px;">
            </repeat>

            <div class="row">
                <div class="col-md-12 text-md-right">
                    <button type="button" class="btn btn-outline-danger rounded-0 cancel-update">Cancel</button>
                    <button id="updateClass_btn" type="button" class="btn btn-outline-success rounded-0 update">Update</button>
                </div>
            </div>
        </fieldset> <!--class info editable-->
    </div>
</form>

<form id="updateCompany" action="" method="post">
    <div class="new-form read-form" id="read_company-info">
        <div class="row">
            <div class="col-6">
                <legend>Company Information</legend>
            </div>
            <div class="col-6 text-right">
                <check if="{{isset(@login)}}"><button id="company-info" type="button" class="btn btn-sm btn-outline-info rounded-0 edit" name="edit">Edit</button></check>
            </div>
        </div>
        <hr style="margin-top: 2px;">
        <div class="row form-group">
            <div class="col-md-4">
                <p><span class="text-muted">Company Name:</span> {{ @project['cName'] }}</p>
            </div>
            <div class="col-md-4">
                <p><span class="text-muted">Location:</span> {{ @project['cLocation'] }}</p>
            </div>
            <div class="col-md-4">
                <p><span class="text-muted">Site url:</span> <a href="<check if="{{ @project[cSite] }}">//{{ @project[cSite] }}</check>">{{ @project['cSite'] }}</a></p>
            </div>
        </div>
    </div> <!--company info read only-->

    <div id="edit_company-info" class="new-form edit-form">
        <fieldset>
            <div class="row">
                <div class="col-md-5">
                    <legend>Company Information</legend>
                </div>
                <div class="col-md-7">
                    <div id="updateCompany-error" class="col-md-7 text-danger"></div>
                </div>
            </div>
            <hr style="margin-top: 2px;">
            <div class="form-group row">
                <div class="col-md-6">
                    <span id="company-error" class="text-danger"></span>
                    <input id="company" type="text" name="cName" placeholder="Company name:" value="{{ @project['cName'] }}">
                </div>

                <div class="col-md-6">
                    <span id="location-error" class="text-danger"></span>
                    <input id="location" type="text" name="cLocation" placeholder="Location:" value="{{ @project['cLocation'] }}">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <span id="site-url-error" class="text-danger"></span>
                    <input id="site-url" type="text" name="cSite" placeholder="Site url:" value="{{ @project[cSite] }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-md-right">
                    <button type="button" class="btn btn-outline-danger rounded-0 cancel-update">Cancel</button>
                    <button id="updateCompany_btn" type="button" class="btn btn-outline-success rounded-0 update">Update</button>
                </div>
            </div>
        </fieldset> <!--company info editable-->
    </div>
</form>

<check if="{{isset(@login)}}">
    <div class="new-form read-form" id="read_contact-info">
        <div class="row">
            <div class="col-6">
                <legend>Contact Information</legend>
            </div>
            <div class="col-6 text-right">
                <button id="contact-info" type="button" class="btn btn-sm btn-outline-info rounded-0 edit" name="edit">Edit</button>
            </div>
        </div>
        <hr style="margin-top: 2px;">
        <repeat group="{{ @contacts }}" value="{{ @contact }}">
        <div class="row form-group">
            <div class="col-md-3">
                <p><span class="text-muted">Name:</span> {{ @contact['contactName'] }}</p>
            </div>
            <div class="col-md-3">
                <p><span class="text-muted">Title:</span> {{ @contact['title'] }}</p>
            </div>
            <div class="col-md-3">
                <p><span class="text-muted">Phone:</span> {{ @contact['phone'] }}</p>
            </div>
            <div class="col-md-3">
                <p><span class="text-muted">Email:</span> {{ @contact['email'] }}</p>
            </div>
        </div>
        </repeat>
    </div> <!--contact info read only-->
</check>

<form id="updateContact" action="" method="post">
    <div id="edit_contact-info" class="new-form edit-form">
        <fieldset>
            <div class="row">
                <div class="col-md-5">
                    <legend>Contact Information</legend>
                </div>
                <div class="col-md-7">
                    <div id="updateContact-error" class="col-md-7 text-danger"></div>
                </div>
            </div>
            <hr style="margin-top: 2px;">
            <repeat group="{{ @contacts }}" value="{{ @contact }}">
                <div class="form-group row">
                    <div class="col-md-6">
                        <span id="clientname_1-error" class="text-danger"></span>
                        <input id="clientname_1" type="text" name="contactName[]" placeholder="Name:" value="{{ @contact['contactName'] }}">
                    </div>

                    <div class="col-md-6">
                        <span id="clienttitle_1-error" class="text-danger"></span>
                        <input id="clienttitle_1" type="text" name="title[]" placeholder="Title:" value="{{ @contact['title'] }}">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <span id="phone_1-error" class="text-danger"></span>
                        <input id="phone_1" type="text" name="phone[]" placeholder="Phone:" value="{{ @contact['phone'] }}">
                    </div>

                    <div class="col-md-6">
                        <span id="email_1-error" class="text-danger"></span>
                        <input id="email_1" type="text" name="email[]" placeholder="Email:" value="{{ @contact['email'] }}">
                    </div>
                </div>
                <hr style="margin-top: 2px;">
            </repeat>

            <div class="row">
                <div class="col-md-12 text-md-right">
                    <button type="button" class="btn btn-outline-danger rounded-0 cancel-update">Cancel</button>
                    <button id="updateContact_btn" type="button" class="btn btn-outline-success rounded-0 update">Update</button>
                </div>
            </div>
        </fieldset> <!--contact info end-->
    </div>
</form>
    <div style="margin-top: 30px;"></div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{@BASE}}/scripts/update-project.js"></script>
<script>

    /*DO NOT MOVE THE FOLLOWING TWO FUNCTIONS TO SEPARATE FILE.
    * THIS FUNCTION SENDS THE REQUESTS BASED ON PROJECT ID. WE DO NOT HAVE
    * ACCESS ON PROJECT ID IN SEPARATE JS FILE.*/
    //update fields
    $(".update").click(function () {
       var id = $(this).attr("id");
       var form = id.split("_");

        //set submit flag
        var data = $("#" + form[0]).serializeArray(); //serialize form data
        data.push({name:'form', value:form[0]});

        //send post request
        $.post("{{@BASE}}/project/{{ @project['pid'] }}", data, function (result) {
            // alert(result);
            if(result == 'error') {
                $("#"+form[0]+"-error").html("Missing field(s)");
            } else {
                document.getElementById("overlay").style.display = "block";
                $("#updated").html("Project has been updated");
                $("#"+form[0]+"-error").html("");
                updated(); //updated effect after submission
            }
        });
    });
    //refresh page after updating
    function updated() {
        setTimeout(function(){
            document.getElementById("overlay").style.display = "none";
            window.location.href = "{{@BASE}}/project/{{ @project['pid'] }}";
        }, 1800);
    }
</script>
</html>