body{
    background-color: #424949;
}

#brand-head, thin {
    color: white;
}

.new-form {
    background-color: #EAECEE;
    margin: 5%;
    margin-top: 2%;
    padding: 18px;
    border-radius: 5px;
}

label{
    font-weight: 100;
}

legend{
    font-weight: 300;
    font-size: 16px;
}

input::placeholder{
    font-weight: 100;
}

.cancel{
    width: 25px;
}

.cancel:hover{
    cursor: pointer;
}

button {
    letter-spacing: 2px;
}

button:hover, #cancel:hover{
    opacity: 0.6;
    transition: all 0.5s;
}

input, textarea{
    width: 100%;
    padding: 6px;
    padding-left: 12px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

input:focus, textarea:focus{
    outline: none;
    border: 1px solid #4A235A;
    transition: border 1s;
}

#exampleModalLabel{
    color: white;
}

.modal-title{
    font-weight: 200;
}

.link:hover{
    color: tomato;
    text-decoration: none;
    outline: none;
    transition: all 0.5s ease;
}

.add-rm-cred{
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 8px;
    font-weight: 200;
    border: 0.5px solid lightgray;
}
.rm-cred{
    border-radius: 0;
}

.rm-cred:hover{
    cursor: pointer;
}

.loader{
    border: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid orange;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
    margin: auto;
    text-align: center;
    margin-top: 250px;
}
@keyframes spin{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}